footer {
  position: fixed;
  bottom: 30px;
  right: 75px;
}

body {
  background-color: lightgray;
  font-family: sans-serif;
  overflow: hidden;
}

main {
  margin: 20px;
  text-align: center;
}

header {
  text-align: center;
  background-color: dodgerblue;
}

.form-control {
  display: inline;
  width: auto;
}

#definitions {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
  height: 530px;
  max-height: 530px;
  overflow: scroll;
}

#container {
  display: flex;
  align-items: baseline;
  text-align: initial;
}

#container > div {
  margin: 5px;
}
