footer {
  position: absolute;
  bottom: 30px;
  right: 35px;
}

body {
  background-color: lightgray;
  font-family: sans-serif;
}

main {
  margin: 20px;
  text-align: center;
}

header {
  text-align: center;
  background-color: dodgerblue;
}

#dictWord:hover {
  border-image: none;
  border-color: dodgerblue;
  background-color: lightgray;
}

#dictWord:active {
  border-image: none;
  border-color: dodgerblue;
  background-color: lightgray;
}

#definitions {
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 5px;
}

#container {
  display: flex;
  align-items: baseline;
  text-align: initial;
}

#container > div {
  margin: 5px;
}
